# config vars for the root file system
HYPRIOT_OS_VERSION="v1.1.1"
ROOTFS_TAR_CHECKSUM="5698b4f7363316d25ce735024836b499a4306802518b81d7231d457bbefd4f53"

# name of the ready made raw image for Odroid
RAW_IMAGE="odroid-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="fe9af7686960d5d2dd6c364197e196d751f6adedd7da515ed6521c31e9582f8a"

# specific versions of kernel/firmware and docker tools
export KERNEL_VERSION="3.14.79-109"
export DOCKER_DEB_URL="https://github.com/docbobo/docker/releases/download/v17.03.1-ce/docker-engine_17.03.1.ce-0.debian-jessie_arm64.deb"
export DOCKER_DEB_CHECKSUM="d4972ce079c2e9a9d1224770b2444d3c2b860c7ed84dd280dbe1b635670b8589"
export DOCKER_COMPOSE_VERSION="1.11.2"
export DOCKER_MACHINE_VERSION="0.10.0"
