# config vars for the root file system
HYPRIOT_OS_VERSION="v2.0.1"
ROOTFS_TAR_CHECKSUM="07807417c743aafc5a24917b0009d5da79de74e4e1532f5fe6bcc18ee0bd18b9"

# name of the ready made raw image for Odroid
RAW_IMAGE="odroid-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="fe9af7686960d5d2dd6c364197e196d751f6adedd7da515ed6521c31e9582f8a"

# specific versions of kernel/firmware and docker tools
export KERNEL_VERSION="4.9.0-6"
export DOCKER_CE_VERSION="18.03.0~ce-0~debian"
export DOCKER_COMPOSE_VERSION="1.20.1"
export DOCKER_MACHINE_VERSION="0.14.0"
