# config vars for the root file system
HYPRIOT_OS_VERSION="v1.1.1"
ROOTFS_TAR_CHECKSUM="5698b4f7363316d25ce735024836b499a4306802518b81d7231d457bbefd4f53"

# name of the ready made raw image for Odroid
RAW_IMAGE="odroid-raw.img"
RAW_IMAGE_VERSION="v0.2.2"
RAW_IMAGE_CHECKSUM="fe9af7686960d5d2dd6c364197e196d751f6adedd7da515ed6521c31e9582f8a"

# specific versions of kernel/firmware and docker tools
# export KERNEL_VERSION="107-1"
export DOCKER_DEB_URL="https://github.com/DieterReuter/docker-armbuilds/releases/download/v1.13.1/docker-engine_1.13.1-0.debian-jessie_arm64.deb"
export DOCKER_DEB_CHECKSUM="dd7875ee1f62a9784c96cf22cd3dedbe61704ac5c2e054d6cfc914ac0e48de77"
export DOCKER_COMPOSE_VERSION="1.9.0-23"
export DOCKER_MACHINE_VERSION="0.9.0-39"
export DEVICE_INIT_VERSION="0.1.8"
